<!DOCTYPE html>
<html>

<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<!-- Footer -->
<footer class="bg-dark text-light py-5">
  <div class="container">
      <div class="row">
          <!-- Navigation Links -->
          <div class="col-md-3">
              <h4>Navigation</h4>
              <ul class="list-unstyled">
                  <li><a href="/">Home</a></li>
                  <li><a href="/products/">Products</a></li>
                  <li><a href="/about/">About Us</a></li>
                  <li><a href="/contact/">Contact Us</a></li>
              </ul>
          </div>
          
          <!-- Company Information -->
          <div class="col-md-3">
              <h4>MAX</h4>
              <ul class="list-unstyled">
                  <li><a href="/about/">About Company</a></li>
                  <li><a href="/terms/">Terms of Service</a></li>
                  <li><a href="/privacy/">Privacy Policy</a></li>
              </ul>
          </div>

          <!-- Payment Modes -->
          <div class="col-md-3">
              <h4>Payment Modes</h4>
              <ul class="list-unstyled">
                  <li>Visa</li>
                  <li>MasterCard</li>
                  <li>PayPal</li>
              </ul>
          </div>

          <!-- Join Our Community -->
          <div class="col-md-3">
              <h4>Join Our Community</h4>
              <ul class="list-unstyled">
                  <li><a href="/community/">Community Forum</a></li>
                  <li><a href="/newsletter/">Newsletter</a></li>
                  <li><a href="/social-media/">Social Media</a></li>
              </ul>
          </div>
      </div>

      <!-- Copyright and Company Info -->
      <div class="row mt-4">
          <div class="col-md-6">
              <p>&copy; 2023 Your Company Name. All rights reserved.</p>
          </div>
          <div class="col-md-6 text-right">
              <p>123 Street, City, Country | your@company.com</p>
          </div>
      </div>
  </div>
</footer>


</html>
